# Ignore node_modules
node_modules/

# Ignore build outputs
dist/
out/

# Ignore logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variables
.env
.env.local
.env.*.local

# Ignore lock files for npm or yarn (you can keep one of these)
package-lock.json
yarn.lock